/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 8 Jun 2023, 14:42:22
    Author     : sadam
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#captchaBackground {
    height: 50px;
    width: 100%;
    background-color: #545454;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#captchaHeading {
    color: white;
}

#captcha {
    height: 100px;
    width: 90%;
    font-size: 400px;
    letter-spacing: 2px;
    margin: auto;

    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #08e5ff;
    border: 0px;
    font-weight: bold;
}



#textBox {
    height: 50px;
    width: 70%;
}

.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #7FFF00;
}

